
html{
	height: 100%;
	min-height:700px;
	background:	-webkit-linear-gradient(90deg, #6963b628 0%, #2bb67517 100%);
  }


.titulo{
	font-size: 38px;
	font-weight: bold;
	text-align: left;
	background:	-webkit-linear-gradient(12deg, #0700b8 0%, #00ff88 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		text-shadow:  12px 14px 12px -8px rgba(0, 185, 62, 0.08);;
	margin-top: 12%

}




#area-inicio{
	width: 80%;
	height: 60%;
	max-width: 500px;
	margin: 5% auto;
	justify-content: center;
	vertical-align: middle;

}

.img-inicio{
	display: inline-block;
	width: 170px;
	height: auto;
	margin: auto 12%;
}


.bienvenida{
	display: block;
	margin:  0 auto;
	width: 80%;
	height:30%;
}

#area-botones-inicio{
	margin-left: 10px;
	display: inline-block;
	width: 70%;
	text-align: center;
	align-items: center;
	vertical-align: top;
}


#iniciar{
		/* Auto layout */
		z-index: 1;
		display: inline-block;
		margin-left: 10px;
		background: none;
		align-items: center;
		padding: 6%;
		font-size: 28px;
		/* Dark blue/dark-blue-300 */
		border-radius: 12px;
		border: 3px solid #0700b8;
		margin-top: 10px;
		border: 1px solid #0700b8;
		background:	-webkit-linear-gradient(12deg, #0700b8 0%, #496cad 84%, #00ff88 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		box-shadow:  12px 14px 12px -8px rgba(0, 185, 62, 0.08);
}


#agregar-palabra{
		/* Auto layout */
		z-index: 1;
		display: inline-block;
		margin-left: 10px;
		background: none;
		align-items: center;
		padding: 7%;
		font-size: 28px;
		/* Dark blue/dark-blue-300 */
		border-radius: 12px;
		border: 3px solid #0700b8;
		margin-top: 10px;
		margin-bottom: 10%;
		border: 1px solid #0700b8;
		background:	-webkit-linear-gradient(72deg, #0700b8 0%, #496cad 84%, #00ff88 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		box-shadow:  12px 14px 12px -8px rgba(0, 185, 62, 0.08);
}


#area-juego{
	width: 98%;
	height: 90%;
	margin: 0;
}


.area-dibujo{
	margin-top: 1%;
	width: 96%;
	height: 94%;
	display: block;
	

}

#sarea{
	display: inline-block;
	width: 85%;
	text-align: center;
}

.dibujo{
	margin-left: 5%;
	width: auto;
	height: 45%;
	display: inline-block;
	image-rendering: optimizeQuality;
	overflow: visible;
}



.area-palabra{
	margin-left: 2%;
	margin-top: 4%;
	margin-bottom: 14%;
	height: 10%;
	min-width: 300px;
	max-width: 600px;
	min-height: 25px;
	display: inline-block;
	vertical-align: middle;
	background:	-webkit-linear-gradient(280deg, #0700b8 0%, #496cad 84%, #00ff88 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	font-size: 22px;
}

.letra{
	z-index: 10;
	display:  inline-flex;
	font-size: 20px;
	text-align: center;
	color:#0700b8;
}



.letra-div{
	z-index: 1;
	display: inline-block;
	width: 17px;
	height: auto;
	margin-left: 10px;
	text-align: center;
	align-items: center;
	font-size: 23px;
	
}
.area-letra{
	z-index: 3;
	display: inline-block;
	width: 17x;
	height: 22px;
	margin-top: 3%;
	

}



.linea{
	
	height: 3.5px;
	width: 19px;

	background:	-webkit-linear-gradient(left, #0700b8 0%, #496cad 64%, #00ff88 100%);
	margin-top: 3%;
	border-radius: 4px;
}



#area-teclado{
	margin: 2%;
	display: inline-block;
	width: 100%;
}



.area-tecla{
	display: inline-flex;
	vertical-align: middle;
	border:1px solid #0700b8;
	border-radius: 15 px;
	margin:4px;
	width:32px;
	height: 35px;
	text-align: center;
	align-items: center;
	box-shadow:  12px 14px 12px -8px rgba(0, 185, 62, 0.08);
}

.letra-tecla{
	margin-left: 22%;
	font-size: 21px;
	justify-content: center;
	text-align: center;
	color: #0700b8;
}



.boton{
	display: inline-block;
	padding: 13px;
	background: #ffffff;
	border-radius: 24px;
	flex: none;
	order: 1;
	font-size: 13px;
}



.logo{
	width: 16px;
	height:16px;
}


.botones-juego{
	position: absolute;
	right:5%;
	top:5%;
	text-align: right;
	background: none;
}


.logo2{
	margin: 4px auto;
	margin-bottom: 3px;
	display: block;
	width: 35px;
	text-align: center;
}


.boton-nav{
	border: 0;
	width: 66px;
	background:	-webkit-linear-gradient(72deg, #0700b8 0%, #496cad 84%, #00ff88 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	
	margin-bottom: 1px;
	font-size: 14px;
	text-align: center;

}

#ayuda{
	position:absolute;
	text-align: center;
	left: 0;
	top:0;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	opacity: 0.96;
}

#texto-ayuda{
	text-align: center;
	font-size: 30px;
	font-style: italic;
	margin: 170px auto;
	color: #496cad;
}


#cerrar-ayuda{
	
	font-size: 20px;
	font-style: italic;
	color: #496cad;


}

.fadeOut{
	transition: 2.7s;
	display: none;
}

.fadeOut2{
	background-color: #00f83e;
	display: inline-block;
	transition: 0.9s;
	width: 33.3px;	
	border: 0; 
	color:#00f83e;
	border-radius: 2px;
	opacity:0;
}


.fadeOutBad{
	display: inline-block;
	transition: 0.9s;
	width: 33.3px;
	border: 0; 
	background-color: #ff0000;
	border-radius: 2px;
	color:#ff0000;
	opacity:0;
}



#fireworks{
	margin:4%;
	vertical-align: middle;
	width: 22%;
	min-width: 220px;
}

#aplausos{
	position: relative;
	left:5%;
	top:10%;
	margin:20px;
	margin-bottom: 80px;
	width: 24%;
	min-width: 170px;
}



#perdiste{
	vertical-align: middle;
	margin-top: 8px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 15px;
	width: 12%;
	min-width: 120px;
}

footer{
	width: 90%;
	font-size: 16px;
	margin-top: 22px;
	margin-left: 15px;
	display: block;
	background:	-webkit-linear-gradient(330deg, #0700b8 0%, #496cad 84%, #00ff88 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

}